use KurtYoung_SA
go

IF EXISTS (select * from sys.objects where name='CaseTypeMixture')
BEGIN
    DROP TABLE [dbo].[CaseTypeMixture]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CaseTypeMixture]
(
	[matcode] [nvarchar](255) NULL
	,[header] [nvarchar](255) NULL
	,[description] [nvarchar](255) NULL
	,[SmartAdvocate Case Type] [nvarchar](255) NULL
	,[SmartAdvocate Case Sub Type] [nvarchar](255) NULL
) ON [PRIMARY]


-- Seed CaseTypeMixture with values directly from matter for initial converison
--INSERT INTO [dbo].[CaseTypeMixture]
--(
--	[matcode]
--	,[header]
--	,[description]
--	,[SmartAdvocate Case Type]
--	,[SmartAdvocate Case Sub Type]
--)
--	SELECT 
--		matcode, 
--		header, 
--		description, 
--		description AS [SmartAdvocate Case Type], 
--		'' AS [SmartAdvocate Case Sub Type]
--	FROM KurtYoung_Needles..matter;
--GO

--select * from casetypemixture


INSERT INTO [dbo].[CaseTypeMixture]
(
	[matcode]
	,[header]
	,[description]
	,[SmartAdvocate Case Type]
	,[SmartAdvocate Case Sub Type]
)
SELECT 'REC', 'REC', 'Real Estate Closing', 'Real Estate Closing', '' UNION
SELECT 'FAM', 'FAM', 'Divorce, Custody, Property Division', 'Divorce, Custody, Property Division', '' UNION
SELECT 'REF', 'REFERRAL', 'Case referred to outside counsel', 'Case referred to outside counsel', '' UNION
SELECT 'PI', 'PI GENRL', 'General Personal Injury', 'General Personal Injury', '' UNION
SELECT 'REJ', 'REJECT', 'Rejected Cases', 'Rejected Cases', '' UNION
SELECT 'PRB', 'PRB', 'Estate Probate', 'Estate Probate', '' UNION
SELECT 'CRM', 'CRIMINAL', 'Criminal', 'Criminal', '' UNION
SELECT 'ESP', 'ESP', 'Estate Planning', 'Estate Planning', '' UNION
SELECT 'ZWC', 'WC', 'Workers Comp-Conversion-AbrvCklst', 'Workers Comp-Conversion-AbrvCklst', '' UNION
SELECT 'SSI', 'SSI', 'Social Security', 'Social Security', '' UNION
SELECT 'WC', 'WC', 'Workers Compensation', 'Workers Compensation', '' UNION
SELECT 'VP', 'VOTER', 'VOTER PROTECTION', 'VOTER PROTECTION', '' UNION
SELECT 'ZOC', 'OFC', 'Office Tasks', 'Office Tasks', '' UNION
SELECT 'ZSS', 'SS-NG', 'Social Security Claim', 'Social Security Claim', '' UNION
SELECT 'ZMY', 'FAMILY1', 'All Family Matters', 'All Family Matters', ''