-- USE [SATestClientNeedles]
-- GO
/****** Object:  Table [dbo].[CaseValueMapping]    Script Date: 3/19/2019 4:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

if exists (select * from sys.tables where name = 'CaseValueMapping')
begin
	drop table CaseValueMapping
end

CREATE TABLE [dbo].[CaseValueMapping](
	[Needles_Case_Value] [nvarchar](255) NULL
	,[Case_Value_From] [float] NULL
	,[Case_Value_To] [float] NULL
) ON [PRIMARY]
GO

INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'$010-25K', 10000, 25000)
INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'$0-10K', 0, 10000)
INSERT [dbo].[CaseValueMapping] ([Needles_Case_Value], [Case_Value_From], [Case_Value_To]) VALUES (N'$025-50K', 25000, 50000)
