USE [SANeedlesKMY]
GO

---(0)---
IF EXISTS (select * from sys.objects where name='CaseTypeMixture')
BEGIN
    DROP TABLE [dbo].[CaseTypeMixture]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTypeMixture](
	[matcode] [nvarchar](255) NULL,
	[header] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[SmartAdvocate Case Type] [nvarchar](255) NULL,
	[SmartAdvocate Case Sub Type] [nvarchar](255) NULL
) ON [PRIMARY]


INSERT INTO [dbo].[CaseTypeMixture](
	[matcode],
	[header],
	[description],
	[SmartAdvocate Case Type],
	[SmartAdvocate Case Sub Type]
)
/*
SELECT 
	[matcode],
	[header],
	[description],
	case when [description] is null then [matcode] else [description] end,
	'Unknown'
FROM [NeedlesGMA].[dbo].[matter] M
order by description
*/

-- ds 6/6/2024 // hardcode case types for initial conversion
-- matcode, header, description, SA case type, SA case sub type
SELECT 'BR', 'BANKRUPT', 'Bankruptcy', '', '' UNION
SELECT 'DS', 'DSBLITY', 'Disability - Social Security', '', '' UNION
SELECT 'MC', 'MTRCYCLE', ' Motorcycle Accident', '', '' UNION
SELECT 'MM', 'MED MAL', 'Medical Malpractice', '', '' UNION
SELECT 'PL', 'PREMISES', 'Premises Liability', '', '' UNION
SELECT 'PR', 'PROD LIA', 'Product Liability', '', '' UNION
SELECT 'TOX', 'CAMP LEJ', 'Camp Lejeune', '', '' UNION
SELECT 'WC', 'WORKCOMP', 'Worker''s Compensation', '', '' UNION
SELECT 'ZIN', 'INTAKE', 'Intake - Prospective Client', '', '' UNION
SELECT 'ZLN', 'LIEN', 'P W/D S&S HAS LIEN ON CASE', '', ''